body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

header {
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #111;
  flex-wrap: wrap;
}

.menu ul li {
  position: relative;
}

.menu ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.menu ul li a:hover {
  background-color: #333;
}

.submenu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #222;
  flex-direction: column;
  min-width: 200px;
  z-index: 1000;
}

.submenu li a {
  padding: 10px 20px;
  display: block;
}

.dropdown:hover .submenu {
  display: flex;
}

/* Responsivo */
@media (max-width: 768px) {
  .menu ul {
    flex-direction: column;
  }
  .submenu {
    position: relative;
    top: 0;
  }
}
