body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  margin: 0;
}

header {
  background-color: #2c2c2c;
  padding: 15px;
  text-align: center;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #333;
}

.menu ul li {
  position: relative;
}

.menu ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
}

.menu ul li:hover {
  background-color: #444;
}

.submenu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #444;
  min-width: 200px;
  z-index: 1000;
  flex-direction: column;
}

.submenu li {
  padding: 10px 20px;
}

.dropdown:hover .submenu {
  display: flex;
}
